# Required: Google AI API Key for Gemini
GOOGLE_API_KEY="your_api_key_here"
HFHUB_API_TOKEN="your_hfhub_api_token_here"

# Optional Overrides
# VECTOR_STORE_TYPE="Vector_store_type"
# LLM_PROVIDER="LLM_provider"
# EMBEDDING_PROVIDER="Embedding_provider"

# Frontend Configuration
# VITE_API_URL="Backend_root_api"
